nav.types a{
    padding: 0 16px;
    line-height: 44px;
    border-right: 1px solid #707070;
    font-size: large;
    @apply text-light;
}
nav.types a:hover, nav.types a.active{
    @apply bg-grey text-dark;
}
nav.types a svg{
    @apply fill-light;
}
nav.types a:hover svg, nav.types a.active svg{
    @apply fill-dark;
}

.panier-conexion--container a.active {
    @apply text-gold;
}