<section class="h-screen w-screen bg-light flex flex-col-reverse  sm:flex-row min-h-0 min-w-0 overflow-hidden">
  <aside class="sm:h-full sm:w-48  h-12 w-4/6 bg-blue">
    <ul class="text-center flex flex-row sm:flex-col w-full">

      <li class="text-light sm:border-b border-gray-900 py-12 flex-1 sm:w-full">
        <a href="compte/commandes" class="">Mes commandes</a>
      </li>


      <li class="text-light sm:border-b border-gray-900 py-12 flex-1 sm:w-full">
        <a href="compte/coordonner" class="">Mes coordonnées</a>
      </li>
      <li class="text-light sm:border-b border-gray-900 py-12 flex-1 sm:w-full">
        <a href="compte/changermdp" class="">Changer son mot de passe</a>
      </li>
      <li class="text-light sm:border-b border-gray-900 py-12 flex-1 sm:w-full">
        <a href="compte/suppression" class="">Supprimer mon compte</a>
      </li>
    </ul>
  </aside>

</section>
