<div class="flex flex-col mt-8 w-full">
    <form [formGroup]="rechercheForm" (ngSubmit)="onRecherche()" class="recherche">
        <label for="form_recherchecommande_num">Recherche par N° de commande</label><br />
        <input type="number" formControlName="num" id="form_recherchecommande_num" />
        <button type="submit" [disabled]="!rechercheForm.valid" class="bouton">Rechercher</button>
    </form>
    <h4 class="leading-loose font-normal border-b border-blue text-dark text-2xl">Listes des commandes</h4>
    <div class="tri">
        <label for="form_tricommandes">Statut</label>
        <select (change)="onFiltre($event)" id="form_tricommandes">
            <option value="">Tout</option>
            <option value="{{s.id}}" *ngFor="let s of status">{{s.label}}</option>
        </select>
    </div>
    <app-commande *ngFor="let c of commandes" [commande]="c" [allStatus]="status"></app-commande>
</div>